@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 234.5 68% 95%;
    --foreground: 234.5 5% 0%;
    --card: 234.5 50% 90%;
    --card-foreground: 234.5 5% 10%;
    --popover: 234.5 68% 95%;
    --popover-foreground: 234.5 95% 0%;
    --primary: 234.5 89.5% 73.9%;
    --primary-foreground: 0 0% 0%;
    --secondary: 234.5 30% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 196.5 30% 85%;
    --muted-foreground: 234.5 5% 35%;
    --accent: 196.5 30% 80%;
    --accent-foreground: 234.5 5% 10%;
    --destructive: 0 68% 30%;
    --destructive-foreground: 234.5 5% 90%;
    --border: 234.5 30% 50%;
    --input: 234.5 30% 18%;
    --ring: 234.5 89.5% 73.9%;
    --radius: 0.3rem;
  }
  .dark {
    --background: 234.5 50% 5%;
    --foreground: 234.5 5% 90%;
    --card: 234.5 50% 0%;
    --card-foreground: 234.5 5% 90%;
    --popover: 234.5 50% 5%;
    --popover-foreground: 234.5 5% 90%;
    --primary: 234.5 89.5% 73.9%;
    --primary-foreground: 0 0% 0%;
    --secondary: 234.5 30% 10%;
    --secondary-foreground: 0 0% 100%;
    --muted: 196.5 30% 15%;
    --muted-foreground: 234.5 5% 60%;
    --accent: 196.5 30% 15%;
    --accent-foreground: 234.5 5% 90%;
    --destructive: 0 68% 30%;
    --destructive-foreground: 234.5 5% 90%;
    --border: 234.5 30% 18%;
    --input: 234.5 30% 18%;
    --ring: 234.5 89.5% 73.9%;
    --radius: 0.3rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
